[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
xmltodict = "*"
arrow = "*"

[dev-packages]
sphinx = "*"
sphinxcontrib-napoleon = "*"
"flake8" = "*"
recommonmark = "*"
pre-commit = "*"

[requires]
python_version = "3.7"
