[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
xmltodict = "*"

[dev-packages]
pre-commit = "*"
sphinx = "*"
sphinxcontrib-napoleon = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
